.container {
  width: 100%;
  height: 100%;
}

.chatSquare {
  width: 600px;
  height: 600px;
  border: 1px solid #000;
  display: flex;
  align-items: flex-end;
  margin-left: 30%;
  margin-top: 5%;
  /* justify-content: space-between; */
}

.textInput {
  padding: 1px 2px;
  width: 350px;
}

.buttonSend {
  width: 65px;
}
