* {
    margin: 0;
    padding: 0;
}


header {
    background-color: rgb(22, 22, 22);
    border: rgb(89, 8, 155) solid;
    padding-bottom: 1px;
    margin-top: 1px;
    
} 

 input {
    width: 100px;
    padding-bottom: 1%;
    padding-right: 1%;
    text-align: start;
    border: black solid;
    font-size: 15px;
}

.header1 {
    
    display: grid;
    grid-template-columns: 800px 400px;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    margin: 0px 0px 0px 14px;
}

main {
    display: grid;
    grid-template-columns: repeat(4,minmax(286px,1fr)); 
    grid-template-rows: repeat(4,minmax(286px,1fr));
}

.card {
    display: grid;
    
    border: 1px solid black;
    margin: 10px;
}



video {
    width: 100%;
}



.logo a {
    text-decoration: none;
}

footer {
    text-align: center;
    border: black solid;
    background-color: rgb(43, 88, 13);
} 