* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.header-container {
    background-color: white;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Rubik', sans-serif;
}

/* Cabeçario  / */

#cabecario {
    display: flex;
    background-color: #C83986;
    align-items: flex-end;
}

.menu>h3 {
    padding-top: 1vw;
}

#cabecario>h1 {
    padding-left: 2vw;
    padding-bottom: 1vw;
    width: 100%;
}

#cabecario>button {
    padding: 0.2vw;
    margin: 1vw;
}

/* pagina Principal  */

.icone,
.icone_seta {
    max-width: 20px;
    margin: 1vw;

}

#parte_principal {
    display: flex;
}

#parte-esquerdo {
    background-color: #F2D0E0;
}

.menu {
    display: flex;
}

.menu>h3 {
    padding-left: 0.5vw;
    padding-right: 2vw;
    width: 100%;
}

.parte-direito {
    display: flex;
    flex-wrap: wrap;
}

article {
    width: 20%;
    padding: 2vw;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
    text-align: center;
    margin: 1vw;
}

#Bolo {
    width: 100%;
}

/* fundo */

#footer {
    background-color: #C83986;
    text-align: center;
    padding: 1vw;
    font-size: 0.5vw;
}